body{
    padding: 0;
    margin: 0;
    /* background: url(../image/lv.jpg) no-repeat; */
    background-size: 1500px;
    background-color: rgb(220, 241, 240);
    width: 100vw;
}
.box{
    /* 盒子里放着卡片 */
    width: 40%;
    height: 30%;
    background: rgba(0,0,0,0.3);
    margin:0 auto;
    margin-top: 4%;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-image: linear-gradient(hsl(298, 58%, 63%), #4cbfc7);
    box-shadow: 1px 1px 1px 1px #72b8e4;
}
.box img{
    width: 150px;
    margin-top: -10%;
    height: 150px;
    box-shadow: 1px 1px 0 0 #8a8383 ;
    border-radius: 150px;
}
.icon,.text{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.box ul li{
    list-style: none;
    padding: 3px;
}
h1{
    font-size: 40px;
    margin-top: 1px;
}
h5{
    font-size: 20px;
    margin-top: -20px;
}
p{
    margin-top: -20px;
}
.icon img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: all ease-in-out 300ms;
}
.icon img:hover{
    background-color:white;
}
.text{
    padding: 20px;
}
.text a{
    /* padding: 3px; */
    width: 50px;
    height: 30px;
    transition: all ease-in-out 300ms;
}
.text a:hover{
    color:white;

}
